# Visual Studio 临时文件
.vs/
Debug/
Release/
x64/
x86/
*.user
*.aps
*.opendb
*.pdb
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.recipe
*.ilk
*.exe
*.dll
*.lib
*.exp

# 项目管理/无关文件
.trae/
Formidable 2026 开发计划.txt

# Nim 编译环境
# tools/
nim.zip
tools/nim-2.2.0/doc/
tools/nim-2.2.0/tests/

# 各子工程下的中间目录
**/Intermediate/
**/bin/
**/obj/
**/nimcache/

# 根目录下的二进制输出
/Formidable2026/

# CodeQL 构建目录
_codeql_build_dir/
_codeql_detected_source_root

# 允许 tracking thirdparty 目录下的二进制文件
!thirdparty/**
!thirdparty/Bin/
thirdparty/Bin/avcodec-62.dll
!thirdparty/Lib/
!thirdparty/**/*.exe
!thirdparty/**/*.dll
!thirdparty/**/*.lib
!thirdparty/**/*.exp

# 允许 tracking tools 目录 (包含 Nim 编译器)
!tools/**
!tools/**/*.exe
!tools/**/*.dll
!tools/**/*.lib

# 允许 tracking sRDI 工具
!ClientSide/FormidableNim/utils/sRDI/**
!ClientSide/FormidableNim/utils/sRDI/**/*.exe
!ClientSide/FormidableNim/utils/sRDI/**/*.dll

# Build artifacts
ClientSide/FormidableNim/src/*.bin
ClientSide/FormidableNim/src/*.res
