#include "resource.h"
#include "windows.h"
IDI_MAIN        ICON    "res/Main.ico"
IDI_TERMINAL    ICON    "res/Terminal.ico"
IDI_PROCESS     ICON    "res/Process.ico"
IDI_WINDOW      ICON    "res/Window.ico"
IDI_DESKTOP     ICON    "res/Desktop.ico"
IDI_FILE        ICON    "res/File.ico"
IDI_AUDIO       ICON    "res/Audio.ico"
IDI_VIDEO       ICON    "res/Video.ico"
IDI_SERVICE     ICON    "res/Service.ico"
IDI_REGISTRY    ICON    "res/Registry.ico"
IDI_KEYLOGGER   ICON    "res/Keyboard.ico"
IDI_SETTINGS    ICON    "res/Settings.ico"
IDI_BUILDER     ICON    "res/Builder.ico"
IDI_HELP        ICON    "res/Help.ico"
IDD_BUILDER DIALOGEX 0, 0, 260, 180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "生成服务端 - Formidable 2026"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "网络配置", IDC_STATIC, 10, 10, 240, 50
    LTEXT           "主控 IP/域名:", IDC_STATIC, 20, 22, 50, 12
    EDITTEXT        IDC_EDIT_IP, 75, 20, 165, 14, ES_AUTOHSCROLL
    LTEXT           "主控 端口:", IDC_STATIC, 20, 42, 50, 12
    EDITTEXT        IDC_EDIT_PORT, 75, 40, 50, 14, ES_AUTOHSCROLL | ES_NUMBER

    GROUPBOX        "基础配置", IDC_STATIC, 10, 65, 240, 70
    LTEXT           "分组名称:", IDC_STATIC, 20, 77, 50, 12
    EDITTEXT        IDC_EDIT_GROUP, 75, 75, 100, 14, ES_AUTOHSCROLL
    CONTROL         "自动申请管理员权限 (UAC)", IDC_CHECK_ADMIN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 95, 120, 12
    CONTROL         "开启开机自启动", IDC_CHECK_STARTUP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 150, 95, 80, 12
    
    LTEXT           "目标架构:", IDC_STATIC, 20, 115, 50, 12
    CONTROL         "x86 (32位)", IDC_RADIO_X86, "Button", BS_AUTORADIOBUTTON | WS_GROUP, 75, 113, 50, 12
    CONTROL         "x64 (64位)", IDC_RADIO_X64, "Button", BS_AUTORADIOBUTTON, 130, 113, 50, 12
    CONTROL         "同时生成双架构", IDC_CHECK_BOTH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 185, 113, 60, 12

    DEFPUSHBUTTON   "立即生成", IDC_BTN_BUILD, 70, 150, 60, 18
    PUSHBUTTON      "取消", IDCANCEL, 140, 150, 60, 18
END
IDD_PROCESS DIALOGEX 0, 0, 400, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "进程管理"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_LIST_PROCESS, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 5, 5, 390, 240
END

IDD_MODULES DIALOGEX 0, 0, 400, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "进程模块列表"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_LIST_MODULES, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 10, 10, 380, 230
END
IDD_TERMINAL DIALOGEX 0, 0, 450, 400
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "远程终端"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_EDIT_TERM_OUT, 5, 5, 440, 240, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_BORDER
    EDITTEXT        IDC_EDIT_TERM_IN, 5, 250, 385, 14, ES_AUTOHSCROLL | WS_BORDER
    DEFPUSHBUTTON   "发送", IDC_BTN_TERM_SEND, 395, 249, 50, 16
    CONTROL         "", IDC_LIST_COMMON_CMDS, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 5, 270, 440, 125
END
IDD_SETTINGS DIALOGEX 0, 0, 200, 80
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "全局设置"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "监听端口 (重启生效):", IDC_STATIC, 20, 20, 80, 12
    EDITTEXT        IDC_EDIT_LISTEN_PORT, 105, 18, 60, 14, ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "保存设置", IDC_BTN_SAVE_SETTINGS, 40, 50, 60, 16
    PUSHBUTTON      "取消", IDCANCEL, 110, 50, 60, 16
END
IDD_WINDOW DIALOGEX 0, 0, 400, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "窗口管理"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_LIST_WINDOW, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 5, 5, 390, 240
END
IDD_SERVICE DIALOGEX 0, 0, 400, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "服务管理"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_LIST_SERVICE, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 0, 0, 400, 250
END
IDD_REGISTRY DIALOGEX 0, 0, 500, 300
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "注册表管理"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_TREE_REGISTRY, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | WS_BORDER | WS_TABSTOP, 0, 0, 150, 300
    CONTROL         "", IDC_LIST_REGISTRY_VALUES, "SysListView32", LVS_REPORT | WS_BORDER | WS_TABSTOP, 150, 0, 350, 300
END
IDD_DESKTOP DIALOGEX 0, 0, 640, 480
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "远程桌面"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_STATIC_SCREEN, "Static", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 0, 0, 640, 480
END

IDD_FILE DIALOGEX 0, 0, 500, 400
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "文件管理"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "远程路径:", IDC_STATIC, 5, 7, 35, 12
    EDITTEXT        IDC_EDIT_FILE_PATH_REMOTE, 45, 5, 400, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "转到", IDC_BTN_FILE_GO_REMOTE, 450, 4, 45, 16
    CONTROL         "", IDC_LIST_FILE_REMOTE, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 0, 25, 500, 170
    
    LTEXT           "本地路径:", IDC_STATIC, 5, 202, 35, 12
    EDITTEXT        IDC_EDIT_FILE_PATH_LOCAL, 45, 200, 400, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "转到", IDC_BTN_FILE_GO_LOCAL, 450, 199, 45, 16
    CONTROL         "", IDC_LIST_FILE_LOCAL, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 0, 220, 500, 180
END
IDD_VIDEO DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "视频管理"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "视频监控界面", IDC_STATIC, 10, 10, 100, 12
END
IDD_AUDIO DIALOGEX 0, 0, 300, 100
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "语音管理"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "语音监控中...", IDC_STATIC, 10, 10, 100, 12
END
IDD_KEYLOGGER DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "键盘记录"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_EDIT_KEYLOG, 10, 10, 380, 280, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_BORDER
END
// 二进制资源 - x86
#if defined(_DEBUG)
IDR_CLIENT_EXE_X86      BIN     "Client.exe"
IDR_MOD_PROCESS_X86     BIN     "ModuleProcessManager.dll"
IDR_MOD_SYSTEM_X86      BIN     "ModuleSystemInfo.dll"
IDR_MOD_TERMINAL_X86    BIN     "ModuleTerminal.dll"
IDR_MOD_WINDOW_X86      BIN     "ModuleWindowManager.dll"
IDR_MOD_FILE_X86        BIN     "ModuleFileManager.dll"
IDR_MOD_SERVICE_X86     BIN     "ModuleServiceManager.dll"
IDR_MOD_REGISTRY_X86    BIN     "ModuleRegistryManager.dll"
IDR_MOD_MULTIMEDIA_X86  BIN     "ModuleMultimedia.dll"
#else
IDR_CLIENT_EXE_X86      BIN     "..\\Formidable2026\\x86\\Client.exe"
IDR_MOD_PROCESS_X86     BIN     "..\\Formidable2026\\x86\\ProcessManager.dll"
IDR_MOD_SYSTEM_X86      BIN     "..\\Formidable2026\\x86\\SystemInfo.dll"
IDR_MOD_TERMINAL_X86    BIN     "..\\Formidable2026\\x86\\Terminal.dll"
IDR_MOD_WINDOW_X86      BIN     "..\\Formidable2026\\x86\\WindowManager.dll"
IDR_MOD_FILE_X86        BIN     "..\\Formidable2026\\x86\\FileManager.dll"
IDR_MOD_SERVICE_X86     BIN     "..\\Formidable2026\\x86\\ServiceManager.dll"
IDR_MOD_REGISTRY_X86    BIN     "..\\Formidable2026\\x86\\RegistryManager.dll"
IDR_MOD_MULTIMEDIA_X86  BIN     "..\\Formidable2026\\x86\\Multimedia.dll"
#endif
// 二进制资源 - x64
#if defined(_DEBUG)
IDR_CLIENT_EXE_X64      BIN     "Client.exe"
IDR_MOD_PROCESS_X64     BIN     "ModuleProcessManager.dll"
IDR_MOD_SYSTEM_X64      BIN     "ModuleSystemInfo.dll"
IDR_MOD_TERMINAL_X64    BIN     "ModuleTerminal.dll"
IDR_MOD_WINDOW_X64      BIN     "ModuleWindowManager.dll"
IDR_MOD_FILE_X64        BIN     "ModuleFileManager.dll"
IDR_MOD_SERVICE_X64     BIN     "ModuleServiceManager.dll"
IDR_MOD_REGISTRY_X64    BIN     "ModuleRegistryManager.dll"
IDR_MOD_MULTIMEDIA_X64  BIN     "ModuleMultimedia.dll"
#else
IDR_CLIENT_EXE_X64      BIN     "..\\Formidable2026\\x64\\Client.exe"
IDR_MOD_PROCESS_X64     BIN     "..\\Formidable2026\\x64\\ProcessManager.dll"
IDR_MOD_SYSTEM_X64      BIN     "..\\Formidable2026\\x64\\SystemInfo.dll"
IDR_MOD_TERMINAL_X64    BIN     "..\\Formidable2026\\x64\\Terminal.dll"
IDR_MOD_WINDOW_X64      BIN     "..\\Formidable2026\\x64\\WindowManager.dll"
IDR_MOD_FILE_X64        BIN     "..\\Formidable2026\\x64\\FileManager.dll"
IDR_MOD_SERVICE_X64     BIN     "..\\Formidable2026\\x64\\ServiceManager.dll"
IDR_MOD_REGISTRY_X64    BIN     "..\\Formidable2026\\x64\\RegistryManager.dll"
IDR_MOD_MULTIMEDIA_X64  BIN     "..\\Formidable2026\\x64\\Multimedia.dll"
#endif
